@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    /* CSS HSL */
    --barn-red: hsla(0, 100%, 24%, 1);
    --fire-brick: hsla(356, 83%, 41%, 1);
    --papaya-whip: hsla(40, 91%, 91%, 1);
    --prussian-blue: hsla(201, 100%, 14%, 1);
    --air-superiority-blue: hsla(203, 39%, 57%, 1);
}

*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

img,a{
    display: block;
}

.nav-item-list{
    list-style-type: none;
}

.nav-item a{
    text-decoration: none;
    color:var(--fire-brick);
}

.nav-item a:hover{
    text-decoration: underline;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-auto-rows: minmax(100px,auto); */
}

.box{
    text-align:center;
}

.box:nth-child(2n){
    background-color: var(--air-superiority-blue);
}