@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
    /* CSS HSL */
    --jet: hsla(0, 0%, 21%, 1);
    --caribbean-current: hsla(183, 31%, 34%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --platinum: hsla(0, 0%, 85%, 1);
    --indigo-dye: hsla(204, 42%, 27%, 1);
}

*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-color: var(--indigo-dye);
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 2rem;
    width: max(450px,90%);
    height: 95vh;
    background-color: var(--white);
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 10px black;
}

img,a{
    display: block;
}

/* Main styles */

.logo {
    color:var(--indigo-dye);
}

.nav-item-list{
    list-style-type: none;
}

.nav-item a{
    text-decoration: none;
}

.nav-item a:hover{
    text-decoration: underline;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-auto-rows: minmax(100px,auto); */
}

.box{
    text-align:center;
}

.box:nth-child(2n){
    background-color: var(--air-superiority-blue);
}